In [1]:
from data_utils import *

train_data = get_train_data()

In [2]:
train_data.describe()

,colorCode,productGroup,quantity,price,rrp,voucherAmount,deviceID,returnQuantity
count,180000.000000,179988.000000,180000.000000,180000.000000,179988.000000,180000.000000,180000.000000,180000.000000
mean,2061.941383,5.979776,0.994117,30.722501,41.656848,0.978269,2.394061,0.495006
std,1546.170085,5.631890,0.168833,21.411523,21.523487,3.317389,0.804158,0.503608
min,1000.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,1012.000000,3.000000,1.000000,17.990000,29.990000,0.000000,2.000000,0.000000
50%,1854.000000,3.000000,1.000000,25.900000,39.990000,0.000000,2.000000,0.000000
75%,2012.000000,8.000000,1.000000,39.990000,49.990000,0.000000,2.000000,1.000000
max,8888.000000,50.000000,5.000000,439.980000,799.990000,250.000000,5.000000,5.000000

In [3]:
train_data.tail(5)

,orderID,orderDate,articleID,colorCode,sizeCode,productGroup,quantity,price,rrp,voucherID,voucherAmount,customerID,deviceID,paymentMethod,returnQuantity
859996,a1271144,2014-08-30,i1003278,1493,36,3.0,1,12.95,12.95,0,0.0,c1182764,2,BPRG,0
859997,a1271145,2014-08-30,i1000369,1003,42,3.0,1,22.99,22.99,0,0.0,c1060592,3,BPRG,1
859998,a1271145,2014-08-30,i1000369,1493,42,3.0,1,22.99,22.99,0,0.0,c1060592,3,BPRG,0
859999,a1271145,2014-08-30,i1000370,1011,42,3.0,1,22.99,15.00,0,0.0,c1060592,3,BPRG,1
860000,a1271146,2014-08-30,i1002125,2001,36,9.0,1,39.99,39.99,0,0.0,c1182769,2,KKE,1

In [4]:
test_data = get_test_data()

In [5]:
test_data.describe()

,colorCode,productGroup,quantity,price,rrp,voucherAmount,deviceID,returnQuantity
count,200000.000000,199982.000000,200000.000000,200000.000000,199982.000000,200000.000000,200000.000000,200000.000000
mean,2063.149230,6.175691,0.988880,30.450324,40.677977,1.045815,2.485060,0.504295
std,1766.323441,6.335012,0.180517,19.239901,20.196605,4.310948,0.807787,0.503759
min,1000.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,1077.000000,3.000000,1.000000,18.000000,29.990000,0.000000,2.000000,0.000000
50%,1093.000000,3.000000,1.000000,29.990000,39.990000,0.000000,2.000000,1.000000
75%,3001.000000,8.000000,1.000000,39.990000,49.990000,0.000000,3.000000,1.000000
max,8888.000000,50.000000,5.000000,459.980000,239.990000,100.000000,5.000000,5.000000