In [1]:
from data_utils import *

train_data = get_train_data()
test_data = get_test_data()

In [2]:
train_data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>colorCode</th>
      <th>productGroup</th>
      <th>quantity</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherAmount</th>
      <th>deviceID</th>
      <th>returnQuantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>180000.000000</td>
      <td>179988.000000</td>
      <td>180000.000000</td>
      <td>180000.000000</td>
      <td>179988.000000</td>
      <td>180000.000000</td>
      <td>180000.000000</td>
      <td>180000.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2061.941383</td>
      <td>5.979776</td>
      <td>0.994117</td>
      <td>30.722501</td>
      <td>41.656848</td>
      <td>0.978269</td>
      <td>2.394061</td>
      <td>0.495006</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1546.170085</td>
      <td>5.631890</td>
      <td>0.168833</td>
      <td>21.411523</td>
      <td>21.523487</td>
      <td>3.317389</td>
      <td>0.804158</td>
      <td>0.503608</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1000.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1012.000000</td>
      <td>3.000000</td>
      <td>1.000000</td>
      <td>17.990000</td>
      <td>29.990000</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1854.000000</td>
      <td>3.000000</td>
      <td>1.000000</td>
      <td>25.900000</td>
      <td>39.990000</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2012.000000</td>
      <td>8.000000</td>
      <td>1.000000</td>
      <td>39.990000</td>
      <td>49.990000</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>8888.000000</td>
      <td>50.000000</td>
      <td>5.000000</td>
      <td>439.980000</td>
      <td>799.990000</td>
      <td>250.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
test_data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>colorCode</th>
      <th>productGroup</th>
      <th>quantity</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherAmount</th>
      <th>deviceID</th>
      <th>returnQuantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>200000.000000</td>
      <td>199982.000000</td>
      <td>200000.000000</td>
      <td>200000.000000</td>
      <td>199982.000000</td>
      <td>200000.000000</td>
      <td>200000.000000</td>
      <td>200000.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2063.149230</td>
      <td>6.175691</td>
      <td>0.988880</td>
      <td>30.450324</td>
      <td>40.677977</td>
      <td>1.045815</td>
      <td>2.485060</td>
      <td>0.504295</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1766.323441</td>
      <td>6.335012</td>
      <td>0.180517</td>
      <td>19.239901</td>
      <td>20.196605</td>
      <td>4.310948</td>
      <td>0.807787</td>
      <td>0.503759</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1000.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1077.000000</td>
      <td>3.000000</td>
      <td>1.000000</td>
      <td>18.000000</td>
      <td>29.990000</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1093.000000</td>
      <td>3.000000</td>
      <td>1.000000</td>
      <td>29.990000</td>
      <td>39.990000</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3001.000000</td>
      <td>8.000000</td>
      <td>1.000000</td>
      <td>39.990000</td>
      <td>49.990000</td>
      <td>0.000000</td>
      <td>3.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>8888.000000</td>
      <td>50.000000</td>
      <td>5.000000</td>
      <td>459.980000</td>
      <td>239.990000</td>
      <td>100.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
get_price_morethan_rrp(train_data).describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
      <th>rrp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1729.000000</td>
      <td>1729.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>54.632597</td>
      <td>30.661168</td>
    </tr>
    <tr>
      <th>std</th>
      <td>34.724181</td>
      <td>16.150606</td>
    </tr>
    <tr>
      <th>min</th>
      <td>14.000000</td>
      <td>9.990000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>31.980000</td>
      <td>15.990000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>51.800000</td>
      <td>29.990000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>59.990000</td>
      <td>40.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>439.980000</td>
      <td>219.990000</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
train_data['quantity'].unique()

array([1, 0, 2, 3, 5, 4])

In [38]:
train_data.groupby(['quantity']).count()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>orderID</th>
      <th>orderDate</th>
      <th>articleID</th>
      <th>colorCode</th>
      <th>sizeCode</th>
      <th>productGroup</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherID</th>
      <th>voucherAmount</th>
      <th>customerID</th>
      <th>deviceID</th>
      <th>paymentMethod</th>
      <th>returnQuantity</th>
    </tr>
    <tr>
      <th>quantity</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
      <td>2715</td>
    </tr>
    <tr>
      <th>1</th>
      <td>175897</td>
      <td>175897</td>
      <td>175897</td>
      <td>175897</td>
      <td>175897</td>
      <td>175885</td>
      <td>175897</td>
      <td>175885</td>
      <td>175897</td>
      <td>175897</td>
      <td>175897</td>
      <td>175897</td>
      <td>175897</td>
      <td>175897</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
      <td>1206</td>
    </tr>
    <tr>
      <th>3</th>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
      <td>125</td>
    </tr>
    <tr>
      <th>4</th>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
    </tr>
    <tr>
      <th>5</th>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
    </tr>
  </tbody>
</table>
</div>

In [43]:
train_data.groupby(['quantity']).sum()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>colorCode</th>
      <th>productGroup</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherAmount</th>
      <th>deviceID</th>
      <th>returnQuantity</th>
    </tr>
    <tr>
      <th>quantity</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5783093</td>
      <td>17018.0</td>
      <td>0.000000e+00</td>
      <td>1.286647e+05</td>
      <td>3125.00</td>
      <td>6431</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>362849250</td>
      <td>1051185.0</td>
      <td>5.460359e+06</td>
      <td>7.328339e+06</td>
      <td>171923.49</td>
      <td>421004</td>
      <td>88154</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2205484</td>
      <td>7033.0</td>
      <td>5.658014e+04</td>
      <td>3.648594e+04</td>
      <td>885.00</td>
      <td>2987</td>
      <td>849</td>
    </tr>
    <tr>
      <th>3</th>
      <td>191156</td>
      <td>768.0</td>
      <td>6.988830e+03</td>
      <td>2.759320e+03</td>
      <td>105.00</td>
      <td>345</td>
      <td>80</td>
    </tr>
    <tr>
      <th>4</th>
      <td>57843</td>
      <td>134.0</td>
      <td>2.558560e+03</td>
      <td>6.816000e+02</td>
      <td>30.00</td>
      <td>70</td>
      <td>13</td>
    </tr>
    <tr>
      <th>5</th>
      <td>62623</td>
      <td>150.0</td>
      <td>3.563350e+03</td>
      <td>8.025900e+02</td>
      <td>20.00</td>
      <td>94</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>