In [1]:
from data_utils import *
X1, y1 = process_df(get_train_data())

In [2]:
X1.head(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>articleID</th>
      <th>colorCode</th>
      <th>sizeCode</th>
      <th>quantity</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherAmount</th>
      <th>paymentMethod</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>262</td>
      <td>8</td>
      <td>12</td>
      <td>0</td>
      <td>16</td>
      <td>11</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>311</td>
      <td>12</td>
      <td>12</td>
      <td>0</td>
      <td>41</td>
      <td>17</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>340</td>
      <td>30</td>
      <td>13</td>
      <td>0</td>
      <td>30</td>
      <td>13</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>553</td>
      <td>123</td>
      <td>13</td>
      <td>0</td>
      <td>41</td>
      <td>17</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>578</td>
      <td>103</td>
      <td>13</td>
      <td>0</td>
      <td>41</td>
      <td>17</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
model = gradient_boosting_classifier(X1, y1)

In [3]:
X1_test, y1_test = process_df(get_test_data())
X1_test.head(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>articleID</th>
      <th>colorCode</th>
      <th>sizeCode</th>
      <th>quantity</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherAmount</th>
      <th>paymentMethod</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>414</td>
      <td>48</td>
      <td>15</td>
      <td>0</td>
      <td>61</td>
      <td>13</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>230</td>
      <td>18</td>
      <td>12</td>
      <td>0</td>
      <td>49</td>
      <td>13</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>230</td>
      <td>38</td>
      <td>12</td>
      <td>0</td>
      <td>49</td>
      <td>13</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>461</td>
      <td>29</td>
      <td>13</td>
      <td>0</td>
      <td>23</td>
      <td>18</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>461</td>
      <td>38</td>
      <td>13</td>
      <td>0</td>
      <td>23</td>
      <td>18</td>
      <td>0</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
result = model.predict(X1_test)

In [7]:
compute_error(result, y1_test.values)

97870

In [2]:
alldata = get_orders_train()
idx = len(alldata.index)-200000
train, test = alldata[:idx], alldata[idx:]

In [3]:
X2, y2 = process_df(train)

In [ ]:
allmodel = gradient_boosting_classifier(X2, y2)

In [4]:
X2_test, y2_test = process_df(test)

In [ ]:
result2 = allmodel.predict(X2_test)
compute_error(result2, y2_test.values)

In [5]:
xgboostmodel = xgboost_classifier(X2, y2)

/home/sadegh/anaconda3/envs/DMC/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [7]:
xgresult = xgboostmodel.predict(X2_test)
xgpredictions = [round(value) for value in xgresult]

In [9]:
compute_error(xgpredictions, y2_test.values)

85746