In [1]:
from data_utils import *

traindata = load_train_data()

In [2]:
names = traindata[['Name']]

In [3]:
titles = pd.DataFrame({'Title':[i[1] for i in names['Name'].str.replace(',', '.').str.replace(' ', '').str.split('.')]})

In [4]:
titles['Title'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'theCountess',
       'Jonkheer'], dtype=object)

In [5]:
traindata['Title'] = pd.Series(titles['Title'], index=traindata.index)

In [6]:
survivedsex = traindata.loc[traindata['Survived']==1][['Sex', 'Survived']].groupby('Sex').count()
unsurvivedsex = traindata.loc[traindata['Survived']==0][['Sex', 'Survived']].groupby('Sex').count()

In [7]:
survivedsex

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
    </tr>
    <tr>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>female</th>
      <td>233</td>
    </tr>
    <tr>
      <th>male</th>
      <td>109</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
unsurvivedsex

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
    </tr>
    <tr>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>female</th>
      <td>81</td>
    </tr>
    <tr>
      <th>male</th>
      <td>468</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
traindata[['Sex','Survived','PassengerId']].groupby(['Sex','Survived']).count()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>PassengerId</th>
    </tr>
    <tr>
      <th>Sex</th>
      <th>Survived</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">female</th>
      <th>0</th>
      <td>81</td>
    </tr>
    <tr>
      <th>1</th>
      <td>233</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">male</th>
      <th>0</th>
      <td>468</td>
    </tr>
    <tr>
      <th>1</th>
      <td>109</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
traindata[['Sex','Title','PassengerId']].groupby(['Title','Sex']).count()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>PassengerId</th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Capt</th>
      <th>male</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Col</th>
      <th>male</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Don</th>
      <th>male</th>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Dr</th>
      <th>female</th>
      <td>1</td>
    </tr>
    <tr>
      <th>male</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Jonkheer</th>
      <th>male</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Lady</th>
      <th>female</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Major</th>
      <th>male</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Master</th>
      <th>male</th>
      <td>40</td>
    </tr>
    <tr>
      <th>Miss</th>
      <th>female</th>
      <td>182</td>
    </tr>
    <tr>
      <th>Mlle</th>
      <th>female</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Mme</th>
      <th>female</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Mr</th>
      <th>male</th>
      <td>517</td>
    </tr>
    <tr>
      <th>Mrs</th>
      <th>female</th>
      <td>125</td>
    </tr>
    <tr>
      <th>Ms</th>
      <th>female</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Rev</th>
      <th>male</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Sir</th>
      <th>male</th>
      <td>1</td>
    </tr>
    <tr>
      <th>theCountess</th>
      <th>female</th>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
traindata.loc[traindata['Title'] == 'Mlle', 'Title'] = 'Miss'
traindata.loc[traindata['Title'] == 'Ms', 'Title'] = 'Miss'
traindata.loc[traindata['Title'] == 'Mme', 'Title'] = 'Mrs'

In [43]:
rare_titles = ['Dona', 'Lady', 'theCountess','Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer']
traindata.loc[traindata['Title'].isin(rare_titles), 'Title'] = 'Rare Title'

In [44]:
traindata[['Sex','Title','PassengerId']].groupby(['Title','Sex']).count()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>PassengerId</th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Master</th>
      <th>male</th>
      <td>40</td>
    </tr>
    <tr>
      <th>Miss</th>
      <th>female</th>
      <td>185</td>
    </tr>
    <tr>
      <th>Mr</th>
      <th>male</th>
      <td>517</td>
    </tr>
    <tr>
      <th>Mrs</th>
      <th>female</th>
      <td>126</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Rare Title</th>
      <th>female</th>
      <td>3</td>
    </tr>
    <tr>
      <th>male</th>
      <td>20</td>
    </tr>
  </tbody>
</table>
</div>

In [127]:
traindata['Deck'] = pd.Series(traindata['Cabin'].map(lambda x: None if pd.isnull(x) else str(x)[0]), index=traindata.index)

In [145]:
traindata["Deck"].unique()

array([None, 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [152]:
traindata["Embarked"] = traindata["Embarked"].fillna('S')

In [160]:
traindata["Deck"] = traindata["Deck"].fillna(0)
traindata.loc[traindata["Deck"] == 'A', "Deck"] = 1
traindata.loc[traindata["Deck"] == 'B', "Deck"] = 2
traindata.loc[traindata["Deck"] == 'C', "Deck"] = 3
traindata.loc[traindata["Deck"] == 'D', "Deck"] = 4
traindata.loc[traindata["Deck"] == 'E', "Deck"] = 5
traindata.loc[traindata["Deck"] == 'F', "Deck"] = 6
traindata.loc[traindata["Deck"] == 'G', "Deck"] = 7
traindata.loc[traindata["Deck"] == 'T', "Deck"] = 8

/home/sadegh/anaconda3/envs/DMC/lib/python3.5/site-packages/pandas/core/ops.py:792: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [153]:
traindata.loc[traindata["Embarked"] == 'S', "Embarked"] = 0
traindata.loc[traindata["Embarked"] == 'C', "Embarked"] = 1
traindata.loc[traindata["Embarked"] == 'Q', "Embarked"] = 2

/home/sadegh/anaconda3/envs/DMC/lib/python3.5/site-packages/pandas/core/ops.py:792: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [155]:
traindata.loc[traindata["Sex"] == "male", "Sex"] = 0
traindata.loc[traindata["Sex"] == "female", "Sex"] = 1

In [157]:
traindata.loc[traindata["Title"] == 'Master', "Title"] = 0
traindata.loc[traindata["Title"] == 'Miss', "Title"] = 1
traindata.loc[traindata["Title"] == 'Mr', "Title"] = 2
traindata.loc[traindata["Title"] == 'Mrs', "Title"] = 3
traindata.loc[traindata["Title"] == 'Rare Title', "Title"] = 4

In [176]:
traindata["Age"] = traindata["Age"].fillna(traindata["Age"].median())

In [177]:
traindata.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
      <th>Embarked</th>
      <th>Deck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>446.000000</td>
      <td>0.383838</td>
      <td>2.308642</td>
      <td>29.361582</td>
      <td>0.523008</td>
      <td>0.381594</td>
      <td>32.204208</td>
      <td>0.361392</td>
      <td>0.776655</td>
    </tr>
    <tr>
      <th>std</th>
      <td>257.353842</td>
      <td>0.486592</td>
      <td>0.836071</td>
      <td>13.019697</td>
      <td>1.102743</td>
      <td>0.806057</td>
      <td>49.693429</td>
      <td>0.635673</td>
      <td>1.590899</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.420000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>223.500000</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>22.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>7.910400</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>446.000000</td>
      <td>0.000000</td>
      <td>3.000000</td>
      <td>28.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>14.454200</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>668.500000</td>
      <td>1.000000</td>
      <td>3.000000</td>
      <td>35.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>31.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>891.000000</td>
      <td>1.000000</td>
      <td>3.000000</td>
      <td>80.000000</td>
      <td>8.000000</td>
      <td>6.000000</td>
      <td>512.329200</td>
      <td>2.000000</td>
      <td>8.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [178]:
from sklearn import svm

clf = svm.SVC()
X = [[0, 0], [1, 1]]
y = [0, 1]

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "Title", "Deck"]

clf.fit(traindata[predictors], traindata['Survived'])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [181]:
testdata = load_test_data()

In [182]:
testnames = testdata[['Name']]

In [183]:
testtitles = pd.DataFrame({'Title':[i[1] for i in testnames['Name'].str.replace(',', '.').str.replace(' ', '').str.split('.')]})

In [184]:
testdata['Title'] = pd.Series(testtitles['Title'], index=testdata.index)

In [185]:
testdata.loc[testdata['Title'] == 'Mlle', 'Title'] = 'Miss'
testdata.loc[testdata['Title'] == 'Ms', 'Title'] = 'Miss'
testdata.loc[testdata['Title'] == 'Mme', 'Title'] = 'Mrs'

In [186]:
testdata.loc[testdata['Title'].isin(rare_titles), 'Title'] = 'Rare Title'

In [187]:
testdata['Deck'] = pd.Series(testdata['Cabin'].map(lambda x: None if pd.isnull(x) else str(x)[0]), index=testdata.index)

In [193]:
testdata["Embarked"] = testdata["Embarked"].fillna('S')

In [194]:
testdata.loc[testdata["Embarked"] == 'S', "Embarked"] = 0
testdata.loc[testdata["Embarked"] == 'C', "Embarked"] = 1
testdata.loc[testdata["Embarked"] == 'Q', "Embarked"] = 2
testdata["Deck"] = testdata["Deck"].fillna(0)
testdata.loc[testdata["Deck"] == 'A', "Deck"] = 1
testdata.loc[testdata["Deck"] == 'B', "Deck"] = 2
testdata.loc[testdata["Deck"] == 'C', "Deck"] = 3
testdata.loc[testdata["Deck"] == 'D', "Deck"] = 4
testdata.loc[testdata["Deck"] == 'E', "Deck"] = 5
testdata.loc[testdata["Deck"] == 'F', "Deck"] = 6
testdata.loc[testdata["Deck"] == 'G', "Deck"] = 7
testdata.loc[testdata["Deck"] == 'T', "Deck"] = 8
testdata.loc[testdata["Sex"] == "male", "Sex"] = 0
testdata.loc[testdata["Sex"] == "female", "Sex"] = 1
testdata.loc[testdata["Title"] == 'Master', "Title"] = 0
testdata.loc[testdata["Title"] == 'Miss', "Title"] = 1
testdata.loc[testdata["Title"] == 'Mr', "Title"] = 2
testdata.loc[testdata["Title"] == 'Mrs', "Title"] = 3
testdata.loc[testdata["Title"] == 'Rare Title', "Title"] = 4
testdata["Age"] = testdata["Age"].fillna(testdata["Age"].median())

In [204]:
testdata["Fare"] = testdata["Fare"].fillna(testdata["Fare"].median())

In [237]:
result = clf.predict(testdata[predictors])

In [207]:
realresult = pd.read_csv('datasets/gendermodel.csv')

In [265]:
sum =0
j=0
for i in realresult['Survived']:
    if result[j] == i: sum=sum+1
    j=j+1
    
sum

274

In [261]:
result

array([ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,
        1.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,
        1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,
        1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,
        0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,
        0.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,
        0.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,
        1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  1.,
        0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,
        0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,
        1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,
        0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,
        1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,
        1.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,
        1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,
        0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,
        1.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,
        1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,
        0.,  0.])